In [2]:
import pandas as pd
import numpy as np

s = pd.Series(
    data=[10, "11,", [11, "12"], 14, "kakashka"],
    index=[2, "two", 2.1, -2.2, 2]
)
s

 2            10
 two         11,
 2.1    [11, 12]
-2.2          14
 2      kakashka
dtype: object

In [3]:
print(s[2.1])

[11, '12']

In [4]:
s[0:4]

 2            10
 two         11,
 2.1    [11, 12]
-2.2          14
dtype: object

In [5]:
s = pd.Series(
    data=['e', 'c', 'd', 'b', 'a', 'f'],
    index=['e', 'c', 'd', 'b', 'a', 'f']
)
s['a':'f']

a    a
f    f
dtype: object

In [6]:
df = pd.DataFrame([[1, 2], [2, 3], [5, 6]])
df

   0  1
0  1  2
1  2  3
2  5  6

In [7]:
df = pd.DataFrame(
    [[1, 2], [3, 4], [5, 6]],
    columns=["first", "second"],
    index=[1, 2, 3]
)
df[0:2]

   first  second
1      1       2
2      3       4

In [8]:
s = df["first"]
s

1    1
2    3
3    5
Name: first, dtype: int64

In [9]:
s = df["first"][2]
s

np.int64(3)

In [10]:
df.columns = ["huy", "popa"]
df

   huy  popa
1    1     2
2    3     4
3    5     6

In [11]:
df.columns = ["index","second"]
df["index"]

1    1
2    3
3    5
Name: index, dtype: int64

In [12]:
print(df.values)

[[1 2]
 [3 4]
 [5 6]]

In [13]:
df[0:2]

   index  second
1      1       2
2      3       4

In [14]:
df.iloc[0, 0]

np.int64(1)

In [15]:
df.iloc[-1, -1]

np.int64(6)

In [16]:
s = pd.Series(np.random.randint(-5, 5, size=5))

In [17]:
r = s > 0
r

0     True
1    False
2     True
3     True
4    False
dtype: bool

In [18]:
s[r]

0    4
2    1
3    2
dtype: int64

In [19]:
#url = 'https://datahub.io/core/s-and-p-500-companies-financials/r/constituents-financials.csv'
url = 'https://raw.githubusercontent.com/datasets/s-and-p-500-companies-financials/main/data/constituents-financials.csv'
file='constituents-financials_csv.csv'
data = pd.read_csv(url, sep=',')
data

,Symbol,Name,Sector,Price,Price/Earnings,Dividend Yield,Earnings/Share,52 Week Low,52 Week High,Market Cap,EBITDA,Price/Sales,Price/Book,SEC Filings
0,MMM,3M,Industrial Conglomerates,152.20,21.286713,0.0199,7.15,75.652176,155.00,8.329418e+10,8.117000e+09,2.552062,17.855467,http://www.sec.gov/cgi-bin/browse-edgar?action...
1,AOS,A. O. Smith,Building Products,67.30,18.539946,0.0196,3.63,66.760000,92.45,9.758165e+09,8.091000e+08,2.506078,5.091157,http://www.sec.gov/cgi-bin/browse-edgar?action...
2,ABT,Abbott Laboratories,Health Care Equipment,127.93,16.744764,0.0202,7.64,99.710000,129.85,2.218895e+11,1.082500e+10,5.383446,5.575749,http://www.sec.gov/cgi-bin/browse-edgar?action...
3,ABBV,AbbVie,Biotechnology,183.90,64.300700,0.0373,2.86,153.580000,207.32,3.249770e+11,2.563000e+10,5.851963,53.882210,http://www.sec.gov/cgi-bin/browse-edgar?action...
4,ACN,Accenture,IT Consulting & Other Services,384.95,32.294464,0.0170,11.92,278.690000,387.51,2.407785e+11,1.106591e+10,3.710195,8.508687,http://www.sec.gov/cgi-bin/browse-edgar?action...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
498,XYL,Xylem Inc.,Industrial Machinery & Supplies & Components,124.04,35.643677,0.0118,3.48,112.020000,146.08,3.013490e+10,1.689000e+09,3.577267,2.845411,http://www.sec.gov/cgi-bin/browse-edgar?action...
499,YUM,Yum! Brands,Restaurants,130.50,24.392525,0.0205,5.35,122.130000,143.20,3.641890e+10,2.608000e+09,5.042073,NaN,http://www.sec.gov/cgi-bin/browse-edgar?action...
500,ZBRA,Zebra Technologies,Electronic Equipment & Instruments,391.94,53.397820,NaN,7.34,237.060000,427.76,2.021626e+10,8.030000e+08,4.341981,5.905112,http://www.sec.gov/cgi-bin/browse-edgar?action...
501,ZBH,Zimmer Biomet,Health Care Equipment,109.48,20.893131,0.0087,5.24,100.670000,133.90,2.179462e+10,2.557400e+09,2.869412,1.765892,http://www.sec.gov/cgi-bin/browse-edgar?action...
502,ZTS,Zoetis,Pharmaceuticals,170.90,32.124058,0.0116,5.32,144.800000,200.53,7.710410e+10,3.764000e+09,8.424835,14.744198,http://www.sec.gov/cgi-bin/browse-edgar?action...

In [20]:
data.shape

(503, 14)

In [21]:
data.head(n=5)

,Symbol,Name,Sector,Price,Price/Earnings,Dividend Yield,Earnings/Share,52 Week Low,52 Week High,Market Cap,EBITDA,Price/Sales,Price/Book,SEC Filings
0,MMM,3M,Industrial Conglomerates,152.20,21.286713,0.0199,7.15,75.652176,155.00,8.329418e+10,8.117000e+09,2.552062,17.855467,http://www.sec.gov/cgi-bin/browse-edgar?action...
1,AOS,A. O. Smith,Building Products,67.30,18.539946,0.0196,3.63,66.760000,92.45,9.758165e+09,8.091000e+08,2.506078,5.091157,http://www.sec.gov/cgi-bin/browse-edgar?action...
2,ABT,Abbott Laboratories,Health Care Equipment,127.93,16.744764,0.0202,7.64,99.710000,129.85,2.218895e+11,1.082500e+10,5.383446,5.575749,http://www.sec.gov/cgi-bin/browse-edgar?action...
3,ABBV,AbbVie,Biotechnology,183.90,64.300700,0.0373,2.86,153.580000,207.32,3.249770e+11,2.563000e+10,5.851963,53.882210,http://www.sec.gov/cgi-bin/browse-edgar?action...
4,ACN,Accenture,IT Consulting & Other Services,384.95,32.294464,0.0170,11.92,278.690000,387.51,2.407785e+11,1.106591e+10,3.710195,8.508687,http://www.sec.gov/cgi-bin/browse-edgar?action...

In [22]:
data.columns

Index(['Symbol', 'Name', 'Sector', 'Price', 'Price/Earnings', 'Dividend Yield',
       'Earnings/Share', '52 Week Low', '52 Week High', 'Market Cap', 'EBITDA',
       'Price/Sales', 'Price/Book', 'SEC Filings'],
      dtype='object')

In [23]:
len(data)

503

In [24]:
induk=data['Sector']=='Electric Utilities'
sum(induk)

15

In [25]:
group = data.groupby('Sector')
group.size()

Sector
Advertising                                   2
Aerospace & Defense                          12
Agricultural & Farm Machinery                 1
Agricultural Products & Services              2
Air Freight & Logistics                       4
                                             ..
Tobacco                                       2
Trading Companies & Distributors              2
Transaction & Payment Processing Services     8
Water Utilities                               1
Wireless Telecommunication Services           1
Length: 127, dtype: int64

In [26]:
data.count()

Symbol            503
Name              503
Sector            503
Price             500
Price/Earnings    475
Dividend Yield    404
Earnings/Share    499
52 Week Low       500
52 Week High      500
Market Cap        500
EBITDA            470
Price/Sales       499
Price/Book        468
SEC Filings       503
dtype: int64

In [27]:
group.count()

,Symbol,Name,Price,Price/Earnings,Dividend Yield,Earnings/Share,52 Week Low,52 Week High,Market Cap,EBITDA,Price/Sales,Price/Book,SEC Filings
Sector,,,,,,,,,,,,,
Advertising,2,2,2,2,2,2,2,2,2,2,2,2,2
Aerospace & Defense,12,12,12,11,9,12,12,12,12,12,12,10,12
Agricultural & Farm Machinery,1,1,1,1,1,1,1,1,1,1,1,1,1
Agricultural Products & Services,2,2,2,2,2,2,2,2,2,2,2,2,2
Air Freight & Logistics,4,4,4,4,4,4,4,4,4,4,4,4,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
Tobacco,2,2,2,2,2,2,2,2,2,2,2,0,2
Trading Companies & Distributors,2,2,2,2,2,2,2,2,2,2,2,2,2
Transaction & Payment Processing Services,8,8,8,8,5,8,8,8,8,8,8,8,8
Water Utilities,1,1,1,1,1,1,1,1,1,1,1,1,1
Wireless Telecommunication Services,1,1,1,1,1,1,1,1,1,1,1,1,1

In [28]:
group["Price"].median()

Sector
Advertising                                   57.730
Aerospace & Defense                          207.790
Agricultural & Farm Machinery                476.560
Agricultural Products & Services              63.680
Air Freight & Logistics                      113.905
                                              ...
Tobacco                                       91.215
Trading Companies & Distributors             415.650
Transaction & Payment Processing Services    195.065
Water Utilities                              124.640
Wireless Telecommunication Services          232.970
Name: Price, Length: 127, dtype: float64

In [29]:
group.get_group('Advertising')

,Symbol,Name,Sector,Price,Price/Earnings,Dividend Yield,Earnings/Share,52 Week Low,52 Week High,Market Cap,EBITDA,Price/Sales,Price/Book,SEC Filings
255,IPG,Interpublic Group of Companies (The),Advertising,28.67,13.523585,0.0460,2.12,26.30,35.17,1.068001e+10,1.732100e+09,1.143604,2.866427,http://www.sec.gov/cgi-bin/browse-edgar?action...
356,OMC,Omnicom Group,Advertising,86.79,11.856557,0.0324,7.32,81.42,107.00,1.705259e+10,2.420600e+09,1.105315,4.285291,http://www.sec.gov/cgi-bin/browse-edgar?action...

In [31]:
group["Name"].unique()

Sector
Advertising                                  [Interpublic Group of Companies (The), Omnicom...
Aerospace & Defense                          [Axon Enterprise, Boeing, GE Aerospace, Genera...
Agricultural & Farm Machinery                                                [Deere & Company]
Agricultural Products & Services                        [Archer Daniels Midland, Bunge Global]
Air Freight & Logistics                      [C.H. Robinson, Expeditors International, FedE...
                                                                   ...
Tobacco                                                  [Altria, Philip Morris International]
Trading Companies & Distributors                                    [Fastenal, United Rentals]
Transaction & Payment Processing Services    [Corpay, Fidelity National Information Service...
Water Utilities                                                         [American Water Works]
Wireless Telecommunication Services                                              [T-Mobile US]
Name: Name, Length: 127, dtype: object

In [47]:
letter = "B"
for kortezh in group["Symbol"]:
    print("{}: {}".format(kortezh[0], (kortezh[1].str.get(0) == letter).any()))

Advertising: False
Aerospace & Defense: True
Agricultural & Farm Machinery: False
Agricultural Products & Services: True
Air Freight & Logistics: False
Apparel Retail: False
Apparel, Accessories & Luxury Goods: False
Application Software: False
Asset Management & Custody Banks: True
Automobile Manufacturers: False
Automotive Parts & Equipment: True
Automotive Retail: False
Biotechnology: True
Brewers: False
Broadcasting: False
Broadline Retail: False
Building Products: True
Cable & Satellite: False
Cargo Ground Transportation: False
Casinos & Gaming: False
Commodity Chemicals: False
Communications Equipment: False
Computer & Electronics Retail: True
Construction & Engineering: False
Construction Machinery & Heavy Transportation Equipment: False
Construction Materials: False
Consumer Electronics: False
Consumer Finance: False
Consumer Staples Merchandise Retail: False
Copper: False
Data Center REITs: False
Data Processing & Outsourced Services: True
Distillers & Vintners: True
Distributors: False
Diversified Banks: True
Diversified Support Services: False
Drug Retail: False
Electric Utilities: False
Electrical Components & Equipment: False
Electronic Components: False
Electronic Equipment & Instruments: False
Electronic Manufacturing Services: False
Environmental & Facilities Services: False
Fertilizers & Agricultural Chemicals: False
Financial Exchanges & Data: False
Food Distributors: False
Food Retail: False
Footwear: False
Gas Utilities: False
Gold: False
Health Care Distributors: False
Health Care Equipment: True
Health Care Facilities: False
Health Care REITs: False
Health Care Services: False
Health Care Supplies: False
Health Care Technology: False
Heavy Electrical Equipment: False
Home Furnishings: False
Home Improvement Retail: False
Homebuilding: False
Hotel & Resort REITs: False
Hotels, Resorts & Cruise Lines: True
Household Products: False
Human Resource & Employment Services: False
IT Consulting & Other Services: False
Independent Power Producers & Energy Traders: False
Industrial Conglomerates: False
Industrial Gases: False
Industrial Machinery & Supplies & Components: False
Industrial REITs: False
Insurance Brokers: True
Integrated Oil & Gas: False
Integrated Telecommunication Services: False
Interactive Home Entertainment: False
Interactive Media & Services: False
Internet Services & Infrastructure: False
Investment Banking & Brokerage: False
Leisure Products: False
Life & Health Insurance: False
Life Sciences Tools & Services: False
Managed Health Care: False
Metal, Glass & Plastic Containers: True
Movies & Entertainment: False
Multi-Family Residential REITs: False
Multi-Sector Holdings: True
Multi-Utilities: False
Multi-line Insurance: False
Office REITs: True
Oil & Gas Equipment & Services: True
Oil & Gas Exploration & Production: False
Oil & Gas Refining & Marketing: False
Oil & Gas Storage & Transportation: False
Other Specialized REITs: False
Other Specialty Retail: False
Packaged Foods & Meats: False
Paper & Plastic Packaging Products & Materials: False
Passenger Airlines: False
Passenger Ground Transportation: False
Personal Care Products: False
Pharmaceuticals: True
Property & Casualty Insurance: False
Publishing: False
Rail Transportation: False
Real Estate Services: False
Regional Banks: False
Reinsurance: False
Research & Consulting Services: False
Restaurants: False
Retail REITs: False
Self-Storage REITs: False
Semiconductor Materials & Equipment: False
Semiconductors: False
Single-Family Residential REITs: False
Soft Drinks & Non-alcoholic Beverages: False
Specialty Chemicals: False
Steel: False
Systems Software: False
Technology Distributors: False
Technology Hardware, Storage & Peripherals: False
Telecom Tower REITs: False
Timber REITs: False
Tobacco: False
Trading Companies & Distributors: False
Transaction & Payment Processing Services: False
Water Utilities: False
Wireless Telecommunication Services: False

In [49]:
def min(arg):
    return arg.min()

new_table = group["Price"].agg([min, 'mean'])
new_table

                                              min        mean
Sector
Advertising                                 28.67   57.730000
Aerospace & Defense                         76.51  361.176667
Agricultural & Farm Machinery              476.56  476.560000
Agricultural Products & Services            51.23   63.680000
Air Freight & Logistics                     99.49  148.042500
...                                           ...         ...
Tobacco                                     52.23   91.215000
Trading Companies & Distributors            73.24  415.650000
Transaction & Payment Processing Services   81.47  243.843750
Water Utilities                            124.64  124.640000
Wireless Telecommunication Services        232.97  232.970000

[127 rows x 2 columns]

In [52]:
cuted=pd.cut(data['Price'], 5, labels=['Low','Medium','High','Very High','Exclusive'], include_lowest=True)
cuted

0      Low
1      Low
2      Low
3      Low
4      Low
      ...
498    Low
499    Low
500    Low
501    Low
502    Low
Name: Price, Length: 503, dtype: category
Categories (5, object): ['Low' < 'Medium' < 'High' < 'Very High' < 'Exclusive']

In [53]:
data["Price"] = cuted
data

,Symbol,Name,Sector,Price,Price/Earnings,Dividend Yield,Earnings/Share,52 Week Low,52 Week High,Market Cap,EBITDA,Price/Sales,Price/Book,SEC Filings
0,MMM,3M,Industrial Conglomerates,Low,21.286713,0.0199,7.15,75.652176,155.00,8.329418e+10,8.117000e+09,2.552062,17.855467,http://www.sec.gov/cgi-bin/browse-edgar?action...
1,AOS,A. O. Smith,Building Products,Low,18.539946,0.0196,3.63,66.760000,92.45,9.758165e+09,8.091000e+08,2.506078,5.091157,http://www.sec.gov/cgi-bin/browse-edgar?action...
2,ABT,Abbott Laboratories,Health Care Equipment,Low,16.744764,0.0202,7.64,99.710000,129.85,2.218895e+11,1.082500e+10,5.383446,5.575749,http://www.sec.gov/cgi-bin/browse-edgar?action...
3,ABBV,AbbVie,Biotechnology,Low,64.300700,0.0373,2.86,153.580000,207.32,3.249770e+11,2.563000e+10,5.851963,53.882210,http://www.sec.gov/cgi-bin/browse-edgar?action...
4,ACN,Accenture,IT Consulting & Other Services,Low,32.294464,0.0170,11.92,278.690000,387.51,2.407785e+11,1.106591e+10,3.710195,8.508687,http://www.sec.gov/cgi-bin/browse-edgar?action...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
498,XYL,Xylem Inc.,Industrial Machinery & Supplies & Components,Low,35.643677,0.0118,3.48,112.020000,146.08,3.013490e+10,1.689000e+09,3.577267,2.845411,http://www.sec.gov/cgi-bin/browse-edgar?action...
499,YUM,Yum! Brands,Restaurants,Low,24.392525,0.0205,5.35,122.130000,143.20,3.641890e+10,2.608000e+09,5.042073,NaN,http://www.sec.gov/cgi-bin/browse-edgar?action...
500,ZBRA,Zebra Technologies,Electronic Equipment & Instruments,Low,53.397820,NaN,7.34,237.060000,427.76,2.021626e+10,8.030000e+08,4.341981,5.905112,http://www.sec.gov/cgi-bin/browse-edgar?action...
501,ZBH,Zimmer Biomet,Health Care Equipment,Low,20.893131,0.0087,5.24,100.670000,133.90,2.179462e+10,2.557400e+09,2.869412,1.765892,http://www.sec.gov/cgi-bin/browse-edgar?action...
502,ZTS,Zoetis,Pharmaceuticals,Low,32.124058,0.0116,5.32,144.800000,200.53,7.710410e+10,3.764000e+09,8.424835,14.744198,http://www.sec.gov/cgi-bin/browse-edgar?action...

In [55]:
data["Salam"] = "Aleykum"
data

,Symbol,Name,Sector,Price,Price/Earnings,Dividend Yield,Earnings/Share,52 Week Low,52 Week High,Market Cap,EBITDA,Price/Sales,Price/Book,SEC Filings,Salam
0,MMM,3M,Industrial Conglomerates,Low,21.286713,0.0199,7.15,75.652176,155.00,8.329418e+10,8.117000e+09,2.552062,17.855467,http://www.sec.gov/cgi-bin/browse-edgar?action...,Aleykum
1,AOS,A. O. Smith,Building Products,Low,18.539946,0.0196,3.63,66.760000,92.45,9.758165e+09,8.091000e+08,2.506078,5.091157,http://www.sec.gov/cgi-bin/browse-edgar?action...,Aleykum
2,ABT,Abbott Laboratories,Health Care Equipment,Low,16.744764,0.0202,7.64,99.710000,129.85,2.218895e+11,1.082500e+10,5.383446,5.575749,http://www.sec.gov/cgi-bin/browse-edgar?action...,Aleykum
3,ABBV,AbbVie,Biotechnology,Low,64.300700,0.0373,2.86,153.580000,207.32,3.249770e+11,2.563000e+10,5.851963,53.882210,http://www.sec.gov/cgi-bin/browse-edgar?action...,Aleykum
4,ACN,Accenture,IT Consulting & Other Services,Low,32.294464,0.0170,11.92,278.690000,387.51,2.407785e+11,1.106591e+10,3.710195,8.508687,http://www.sec.gov/cgi-bin/browse-edgar?action...,Aleykum
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
498,XYL,Xylem Inc.,Industrial Machinery & Supplies & Components,Low,35.643677,0.0118,3.48,112.020000,146.08,3.013490e+10,1.689000e+09,3.577267,2.845411,http://www.sec.gov/cgi-bin/browse-edgar?action...,Aleykum
499,YUM,Yum! Brands,Restaurants,Low,24.392525,0.0205,5.35,122.130000,143.20,3.641890e+10,2.608000e+09,5.042073,NaN,http://www.sec.gov/cgi-bin/browse-edgar?action...,Aleykum
500,ZBRA,Zebra Technologies,Electronic Equipment & Instruments,Low,53.397820,NaN,7.34,237.060000,427.76,2.021626e+10,8.030000e+08,4.341981,5.905112,http://www.sec.gov/cgi-bin/browse-edgar?action...,Aleykum
501,ZBH,Zimmer Biomet,Health Care Equipment,Low,20.893131,0.0087,5.24,100.670000,133.90,2.179462e+10,2.557400e+09,2.869412,1.765892,http://www.sec.gov/cgi-bin/browse-edgar?action...,Aleykum
502,ZTS,Zoetis,Pharmaceuticals,Low,32.124058,0.0116,5.32,144.800000,200.53,7.710410e+10,3.764000e+09,8.424835,14.744198,http://www.sec.gov/cgi-bin/browse-edgar?action...,Aleykum

In [56]:
data[data['Price']=='Exclusive']['Name']

351    NVR, Inc.
Name: Name, dtype: object

In [57]:
data

,Symbol,Name,Sector,Price,Price/Earnings,Dividend Yield,Earnings/Share,52 Week Low,52 Week High,Market Cap,EBITDA,Price/Sales,Price/Book,SEC Filings,Salam
0,MMM,3M,Industrial Conglomerates,Low,21.286713,0.0199,7.15,75.652176,155.00,8.329418e+10,8.117000e+09,2.552062,17.855467,http://www.sec.gov/cgi-bin/browse-edgar?action...,Aleykum
1,AOS,A. O. Smith,Building Products,Low,18.539946,0.0196,3.63,66.760000,92.45,9.758165e+09,8.091000e+08,2.506078,5.091157,http://www.sec.gov/cgi-bin/browse-edgar?action...,Aleykum
2,ABT,Abbott Laboratories,Health Care Equipment,Low,16.744764,0.0202,7.64,99.710000,129.85,2.218895e+11,1.082500e+10,5.383446,5.575749,http://www.sec.gov/cgi-bin/browse-edgar?action...,Aleykum
3,ABBV,AbbVie,Biotechnology,Low,64.300700,0.0373,2.86,153.580000,207.32,3.249770e+11,2.563000e+10,5.851963,53.882210,http://www.sec.gov/cgi-bin/browse-edgar?action...,Aleykum
4,ACN,Accenture,IT Consulting & Other Services,Low,32.294464,0.0170,11.92,278.690000,387.51,2.407785e+11,1.106591e+10,3.710195,8.508687,http://www.sec.gov/cgi-bin/browse-edgar?action...,Aleykum
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
498,XYL,Xylem Inc.,Industrial Machinery & Supplies & Components,Low,35.643677,0.0118,3.48,112.020000,146.08,3.013490e+10,1.689000e+09,3.577267,2.845411,http://www.sec.gov/cgi-bin/browse-edgar?action...,Aleykum
499,YUM,Yum! Brands,Restaurants,Low,24.392525,0.0205,5.35,122.130000,143.20,3.641890e+10,2.608000e+09,5.042073,NaN,http://www.sec.gov/cgi-bin/browse-edgar?action...,Aleykum
500,ZBRA,Zebra Technologies,Electronic Equipment & Instruments,Low,53.397820,NaN,7.34,237.060000,427.76,2.021626e+10,8.030000e+08,4.341981,5.905112,http://www.sec.gov/cgi-bin/browse-edgar?action...,Aleykum
501,ZBH,Zimmer Biomet,Health Care Equipment,Low,20.893131,0.0087,5.24,100.670000,133.90,2.179462e+10,2.557400e+09,2.869412,1.765892,http://www.sec.gov/cgi-bin/browse-edgar?action...,Aleykum
502,ZTS,Zoetis,Pharmaceuticals,Low,32.124058,0.0116,5.32,144.800000,200.53,7.710410e+10,3.764000e+09,8.424835,14.744198,http://www.sec.gov/cgi-bin/browse-edgar?action...,Aleykum

In [58]:
data.iloc[0, 1]

'3M'